---
import { Image } from 'astro:assets';
import type { ImageMetadata } from 'astro';
import Heading from './ui/Heading.astro';

interface Props {
  title: string;
  imageSrc: ImageMetadata;
  imageAlt: string;
}

const { title, imageSrc, imageAlt } = Astro.props;
---

<div class="bg-white rounded-lg border border-outline-variant shadow-sm flex flex-col">
  <Image src={imageSrc} alt={imageAlt} class="w-full h-48 object-cover" />
  <div class="p-sm bg-cloud-gray grow">
    <Heading level={3} class="mb-xs">{title}</Heading>
  </div>
</div>
